@use '../../../style/variables' as *;
@use '../../../style/mixins' as *;

.card {
  background-color: $brand-white;
  border-radius: rem(8px);
  box-shadow: 0 rem(2px) rem(16px) rgba(34, 34, 34, 0.12);
  display: flex;
  flex-direction: column;
  height: rem(191px);
  transition: box-shadow 300ms ease-in;
  @include media('<sm') {
    height: rem(172px);
  }

  &:hover {
    box-shadow: rem(4px) rem(10px) rem(16px) rgba(34, 34, 34, 0.12);
    cursor: pointer;
  }
  .figure {
    border-bottom: 1px solid rgba($brand-black, 0.1);
    height: rem(137px);
    margin: auto;
    @include media('<sm') {
      height: rem(96px);
    }

    img {
      border-radius: rem(8px) rem(8px) 0 0;
      margin-top: rem(40px);
      object-fit: cover;
      width: 100%;
    }
  }
  .description {
    align-items: center;
    border-top: 1px solid #dadada;
    display: flex;
    height: rem(54px);
    justify-content: center;
    padding: rem(16px) rem(10px);

    @include media('<sm') {
      height: rem(76px);
      padding: 0 rem(5px);
    }

    .title {
      font-family: $font-openSans-regular;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 600;
      line-height: rem(22px);
      text-align: center;
      @include clamp(1);

      @include media('<sm') {
        @include clamp(2);
      }
    }
  }
}
